

 body {
  color: #000;
  background-color: $blue;
  font: normal 400 16px Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  position: relative;
 }

 ul {
  list-style: none;
  // display: inline-block;
 }

 header {
  margin-top: $quarter-buffer;
  margin-bottom: $buffer;
 }

nav {
  display: inline-block;
  float: right;
  position: relative;
  top: 41px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav li {
  display: inline;
  margin-right: $buffer;
}

nav a {
  text-decoration: none;
  color: $white;
  font-size: 1.2em;
}

.nav-logo {
  width: 109px;
  height: 98px;
  background: url('images/logo-small.png') no-repeat center;
  display: inline-block;
}

/****************************************************************
SECTIONS
****************************************************************/

section {
  padding: $buffer 0;
}

/****************************************************************
BUTTONS, LINKS, CTAs
****************************************************************/

.cta {
  display: inline-block;
  text-align: center;
  height: $button;
  line-height: $button;
  text-decoration: none;
  font-variant: small-caps;
  padding: 0 $half-button;
  background-color: $coral;
  color: $white;
  margin: $half-buffer auto 0 auto;
  font-size: 1.3em;
  font-weight: 700;
  border: 2px solid $coral;
  @include border-radius(3px);
  @include button-hover();
}

.cta:hover {
  background-color: $white;
  border-color    : $coral;
  color           : $coral;
}

a.link {
  color: $light-coral;
  font-weight: 700;
  text-decoration: none;
  @include link-hover();
}

a.link:hover {
  color: $coral;
  text-decoration: underline;
}



/****************************************************************
FOOTER
****************************************************************/

footer {
  padding: $quarter-buffer 0;
  text-align: center;
  background-color: $grey;
}

footer h3 {
  margin-bottom: $quarter-buffer;
  color: $white;
}

/****************************************************************
REVIEWS
****************************************************************/

article {
  text-align: left;
}

.review {
  display: inline-block;
}

.review-wrapper {
  display: table;
  padding: 0 10%;
}

.review h3 {
  text-align: left;
  margin-top: $quarter-buffer;
  font-style: italic;
}

.review.text-block {
  max-width: 80%;
  margin: 0 5%;
}

.stars, .date {
  margin-bottom: $quarter-buffer;
}

.stars {
  display: inline-block;
}

.date {
  display: inline-block;
}

.icon-star-full {
  color: $orange;
  margin-right: 5px;
}

