

 body {
  color: $dark-text;
  background-color: $blue;
  font: normal 400 16px Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  position: relative;
 }

 ul {
  list-style: none;
  // display: inline-block;
 }

.header-bg {
  max-height: 355px;
  padding: $quarter-buffer 0 117px 0;
  background: $pattern-blue url(../../images/confectionary.png) repeat right top;
}

 header {
  // margin-top: $quarter-buffer;
  // margin-bottom: 117px;
  // background-color: $blue;
  // background: url("images/confectionary.png");
 }

nav {
  display: inline-block;
  float: right;
  position: relative;
  top: 41px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav li {
  display: inline;
  margin-right: $buffer;
  color: $white;
}

nav li a {
  @include link-hover();
}

nav li a:hover {
  color: $coral;
  // font-weight: 700;
}


nav a {
  text-decoration: none;
  color: $white;
  font-size: 1.2em;
}

.nav-logo {
  width: 109px;
  height: 98px;
  background: url('images/logo-small.png') no-repeat center;
  display: inline-block;
}

/****************************************************************
SECTIONS
****************************************************************/

section {
  padding: $buffer 0;
}

/****************************************************************
BUTTONS, LINKS, CTAs
****************************************************************/

.cta {
  display: inline-block;
  text-align: center;
  height: $button;
  line-height: $button;
  text-decoration: none;
  font-variant: small-caps;
  padding: 0 $half-button;
  background-color: $coral;
  color: $white;
  margin: $half-buffer auto 0 auto;
  font-size: 1.3em;
  font-weight: 700;
  box-shadow: 0 1px 3px $o-grey;
  border: 2px solid $coral;
  @include border-radius(3px);
  @include button-hover();
}

.cta:hover {
  background-color: $white;
  border-color    : $coral;
  color           : $coral;
}

a.link {
  color: $light-coral;
  font-weight: 700;
  text-decoration: none;
  @include link-hover();
}

a.link:hover {
  color: $coral;
  text-decoration: underline;
}



/****************************************************************
FOOTER
****************************************************************/

footer {
  padding: $quarter-buffer 0;
  text-align: center;
  background-color: $grey;
}

footer h3 {
  margin-bottom: $quarter-buffer;
  color: $white;
}

/****************************************************************
REVIEWS
****************************************************************/

article {
  text-align: left;
}

.review {
  display: inline-block;
}

.review-wrapper {
  display: table;
  padding: 0 10%;
}

.review h3 {
  text-align: left;
  margin-top: $quarter-buffer;
  font-style: italic;
}

.review.text-block {
  max-width: 80%;
  margin: 0 5%;
}

.stars, .date {
  margin-bottom: $quarter-buffer;
}

.stars {
  display: inline-block;
}

.date {
  display: inline-block;
}

.icon-star-full {
  color: $orange;
  margin-right: 5px;
}

.instructor .circle {
  width: 350px;
  height: 350px;
  box-shadow: 0 2px 10px rgba(110, 121, 130, .8);
  background: $white url(../../images/instructor.jpg) no-repeat top right;
}

.instructor {
  margin: 0 auto;
  text-align: center;
}

.showcase {
  display: inline-block;
  text-align: center;
}

.showcase h3 {
  margin-top: $quarter-buffer;
  margin-bottom: .2em;
}

.showcase li {
  display: inline;
  font-family: 'Josefin Slab', Georgia, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 18px;
}

.showcase li:after {
  content: ' | ';
  padding: 0 8px;
}

.showcase li:last-child {
  margin-right: none;
}

.showcase li:last-child:after {
  content: none;
  padding: none;
}

.instructor .text-block {
  width: 50%;
  display: inline-block;
  margin-right: 0;
  vertical-align: top;
  margin: 10% 0 0 5%;
}

/****************************************************************
CLASSES PAGE
****************************************************************/

.box {
  width: 400px;
  height: 555px;
  margin-right: $half-buffer;
  background-color: $light-grey;
  display: inline-block;
  padding-top: $half-buffer;
}

.box:last-child {
  margin-right: 0;
}

.box h3 {
  margin-bottom: $half-buffer;
}

.box .circle {
  width: 125px;
  height: 125px;
  margin-bottom: $half-buffer;
}

.box .circle .icon-user, .box .circle .icon-computer {
  font-size: 3em;
  line-height: 16px;
  line-height: 125px;
}

#combo {
  display: block;
  height: auto;
  margin: 0 auto;
  margin-top: $half-buffer;
  padding-bottom: $half-buffer;
}

#combo .wrap{
  display: block;
  margin: 0 auto;
}

#combo .circle {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-bottom: $half-buffer;
}

#combo .circle .icon-user, #combo .circle .icon-computer {
  line-height: 100px;
  font-size:  2.5em;
}

.plus {
  margin: 0 $quarter-buffer;
  font-size: 2em;
}

/****************************************************************
RATES PAGE
****************************************************************/

.compare {
  width: 520px;
  height: 250px;
  background-color: $light-grey;
  margin: 0 auto $half-buffer auto;
  display: table;
  text-align: center;
}

.combine {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0 $half-buffer;
  margin: 0 auto;
}

.compare h3 {
  display: inline-block;
  margin-right: $buffer;
}

.title {
  display: inline-block;
  margin-right: $buffer;
}

.title:last-child {
  margin-right: 0
}

.title h3 {
  font-family: 'Josefin Slab', Georgia, 'Times New Roman', serif;
  display: block;
  margin-right: 0;  
  margin-bottom: $quarter-buffer;
}

.compare .circle {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 1.5em;
  line-height: 100px;
  display: inline-block;
}

#extra-margin {
  margin-right: 90px;
}

/****************************************************************
TABLE
****************************************************************/

table {
  margin-top: $half-buffer;
  color: $dark-text;
}
table, td {
  border: 1px $dark-text solid;
  border-collapse: collapse;
  border-right: none;
  border-left: none;
  width: 100%;
}

td {
  padding: 1em;
}

/****************************************************************
FORM
****************************************************************/

form {
  margin: 0 auto;
  text-align: center;
}

.form {
  text-align: left;
  width: 500px;
  margin: 0 auto;
  padding: $half-buffer;
  background-color: $light-grey;
}

.form > div {
  margin-bottom: $quarter-buffer;
}

input {
  width: 100%;
}

.message {
  display: block
}