/* Mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
         border-radius : $radius;
}

@mixin button-hover() {
  -webkit-transition: background-color .25s ease,
                          border-color .25s ease,
                                 color .25s ease;
     -moz-transition: background-color .25s ease,
                          border-color .25s ease,
                                 color .25s ease;
      -ms-transition: background-color .25s ease,
                          border-color .25s ease,
                                 color .25s ease;
          transition: background-color .25s ease,
                          border-color .25s ease,
                                 color .25s ease;
}

@mixin link-hover() {
  -webkit-transition: color .25s ease;
     -moz-transition: color .25s ease;
      -ms-transition: color .25s ease;
          transition: color .25s ease;
}