/*********************************************************
 * NORMALIZE
 *********************************************************/

html {
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
}
// Reset margin and padding
body, ul, hr, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}