////////////
// COLORS //
////////////

.bg-white {
  background-color: $white;
  color: $dark-text;
}

.bg-blue {
  background-color: $blue;
}

.bg-pattern {

}

.bg-grey {
  background-color: $grey;
  color: $white;
}

.color-white {
  color: $white;
}

.color-dark {
  color: $dark-text;
}

.color-coral {
  color: $coral;
}

.color-orange {
  color: $orange;
}

.color-grey {
  color: $grey;
}

/////////////
// SPACING //
/////////////

.buffer {
  padding-top: $buffer;
  padding-bottom: $buffer;
}

.top-buffer {
  padding-top: $buffer;
}

.bottom-buffer {
  padding-bottom: $buffer;
}

.half-buffer {
  padding-top: $half-buffer;
  padding-bottom: $half-buffer;
}

.half-bottom {
  padding-bottom: $half-buffer;
}

.half-top {
  padding-top: $half-buffer;
}

////////////////////////////
// ALIGNMENT & POSTIONING //
////////////////////////////

.inline {
  display: inline;
}

// CENTER ALIGN //
img.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.text-left  {
  text-align: left;
}

h1, h2, h3, h4, h5, h6, p {
  &.center {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto; 
  }
}

////////////
// SIZING //
////////////

// TEXT BLOCK //
.text-block {
  width: 70%;
}
