////////////
// COLORS //
////////////

.bg-white {
  background-color: $white;
  color: $dark-text;
}

.bg-blue {
  background-color: $blue;
}

section.bg-pattern {
  background: url("images/confectionary.png");
  background-color: #fafafa;
}

.bg-grey {
  background-color: $grey;
  color: $white;
}

.color-white {
  color: $white;
}

.color-dark {
  color: $dark-text;
}

.color-coral {
  color: $coral;
}

.color-orange {
  color: $orange;
}

.color-grey {
  color: $grey;
}

/****************************************************************
LAYOUT
****************************************************************/

.wrapper {
  margin: 0 auto;
  max-width: $max-width;
}

.text-block {
  margin: 0 10%;
}

hr {
  margin: $quarter-buffer auto;
  // height: 1px;
}

footer hr {
  max-width: 250px;
  border: 0;
  background-image: linear-gradient(to right, rgba(139, 150, 158, 0), rgba(139, 150, 158, 0.75), rgba(0, 0, 0, 0));
}

.container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container .third:last-child {
  margin-right: 0;
}

.combine {
  
}

.third {
  display: inline-block;
  max-width: 290px;
  margin-right: $quarter-buffer;
  vertical-align: text-top;
}

.circle {
  background-color: $white;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(110, 121, 130, .1);
}

.third .circle {
  width: 150px;
  height: 150px;
}

.arrow {
  display: table-cell;
  vertical-align: middle;
}

/****************************************************************
ALIGNMENT
****************************************************************/

.text-center {
  text-align: center;
}