/* Colors */
$blue:         #99cccc;
$pattern-blue: #44B1B1;
$coral:        #f56f59;
$light-coral:  #DF887A;
$border:       #919999;
$white:        #fafafa;
$orange:       #f8c48b;
$dark-text:    #545454;
$grey:         #6e7982;
$o-grey:       rgba(110, 121, 130, 0.7);
$light-grey:   #F0F0F0;

/* Spacing */
$buffer: 64px;
$half-buffer: 32px;
$quarter-buffer: 16px;
$max-width: 960px;
$button: 48px;
$half-button: 24px;