/* Colors */
$blue:         #99cccc;
$pattern-blue: #54A7A7;
$coral:        #f56f59;
$light-coral:  #DF887A;
$border:       #919999;
$white:        #fafafa;
$orange:       #f8c48b;
$dark-text:    #333333;
$grey:         #6e7982;

/* Spacing */
$buffer: 64px;
$half-buffer: 32px;
$quarter-buffer: 16px;
$max-width: 960px;
$button: 48px;
$half-button: 24px;