/*********************************************************
 * NORMALIZE
 *********************************************************/
@import url(http:\/\/fonts.googleapis.com/css?family=Lato:400,700);
@import url(http:\/\/fonts.googleapis.com/css?family=Josefin+Slab:400,600);
/* line 5, ../sass/_normalize2.scss */
html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 13, ../sass/_normalize2.scss */
body, ul, hr, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* Colors */
/* Spacing */
/* line 5, ../sass/_utilities.scss */
.bg-white {
  background-color: #fafafa;
  color: #333333;
}

/* line 10, ../sass/_utilities.scss */
.bg-blue {
  background-color: #99cccc;
}

/* line 14, ../sass/_utilities.scss */
section.bg-pattern {
  background: url("images/confectionary.png");
  background-color: #fafafa;
}

/* line 19, ../sass/_utilities.scss */
.bg-grey {
  background-color: #6e7982;
  color: #fafafa;
}

/* line 24, ../sass/_utilities.scss */
.color-white {
  color: #fafafa;
}

/* line 28, ../sass/_utilities.scss */
.color-dark {
  color: #333333;
}

/* line 32, ../sass/_utilities.scss */
.color-coral {
  color: #f56f59;
}

/* line 36, ../sass/_utilities.scss */
.color-orange {
  color: #f8c48b;
}

/* line 40, ../sass/_utilities.scss */
.color-grey {
  color: #6e7982;
}

/****************************************************************
LAYOUT
****************************************************************/
/* line 48, ../sass/_utilities.scss */
.wrapper {
  margin: 0 auto;
  max-width: 960px;
}

/* line 53, ../sass/_utilities.scss */
.text-block {
  margin: 0 10%;
}

/* line 57, ../sass/_utilities.scss */
hr {
  max-width: 250px;
  margin: 16px auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(139, 150, 158, 0), rgba(139, 150, 158, 0.75), transparent);
}

/* line 65, ../sass/_utilities.scss */
.container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* line 71, ../sass/_utilities.scss */
.container .third:last-child {
  margin-right: 0;
}

/* line 75, ../sass/_utilities.scss */
.third {
  display: inline-block;
  max-width: 290px;
  margin-right: 16px;
  vertical-align: text-top;
}

/* line 82, ../sass/_utilities.scss */
.circle {
  width: 150px;
  height: 150px;
  background-color: #fafafa;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(110, 121, 130, 0.1);
}

/* line 91, ../sass/_utilities.scss */
.arrow {
  display: table-cell;
  vertical-align: middle;
}

/****************************************************************
ALIGNMENT
****************************************************************/
/* line 100, ../sass/_utilities.scss */
.text-center {
  text-align: center;
}

/* Mixins */
/****************************************************************
TYPOGRAPHY
****************************************************************/
/* line 8, ../sass/_fonts.scss */
h1, h2, h3 {
  text-align: center;
}

/* line 12, ../sass/_fonts.scss */
h1, h2 {
  text-transform: uppercase;
}

/* line 16, ../sass/_fonts.scss */
h1 {
  color: #fafafa;
  font-size: 3em;
  margin-top: 64px;
}

/* line 22, ../sass/_fonts.scss */
h2 {
  font-size: 2em;
  margin-bottom: 32px;
  font-family: 'Josefin Slab', Georgia, 'Times New Roman', serif;
}

/* line 28, ../sass/_fonts.scss */
h3.desc-head {
  margin: 16px 0;
}

/* line 33, ../sass/_fonts.scss */
h3.sub {
  margin-bottom: 32px;
}

/* line 37, ../sass/_fonts.scss */
p {
  line-height: 1.4;
}

/* line 41, ../sass/_fonts.scss */
p.copyright {
  font-size: .8em;
  color: #fafafa;
}

/* line 46, ../sass/_fonts.scss */
section p {
  text-align: left;
}

/****************************************************************
ICON FONTS
****************************************************************/
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?vri0ou");
  src: url("fonts/icomoon.eot?#iefixvri0ou") format("embedded-opentype"), url("fonts/icomoon.ttf?vri0ou") format("truetype"), url("fonts/icomoon.woff?vri0ou") format("woff"), url("fonts/icomoon.svg?vri0ou#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 65, ../sass/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #99cccc;
  text-shadow: 0 1px 3px rgba(110, 121, 130, 0.2);
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 81, ../sass/_fonts.scss */
.icon-bubbles4:before {
  content: "\e970";
}

/* line 84, ../sass/_fonts.scss */
.icon-user-tie:before {
  content: "\e976";
}

/* line 87, ../sass/_fonts.scss */
.icon-airplane:before {
  content: "\e9af";
}

/* line 90, ../sass/_fonts.scss */
.icon-star-full:before {
  content: "\e9d9";
}

/* line 93, ../sass/_fonts.scss */
.icon-right:before {
  content: "\ea42";
}

/* line 96, ../sass/_fonts.scss */
.icon-left:before {
  content: "\ea44";
}

/* line 100, ../sass/_fonts.scss */
.circle [class^="icon-"], .circle [class*=" icon-"] {
  line-height: 3em;
  font-size: 3em;
}

/* line 105, ../sass/_fonts.scss */
.icon-left, .icon-right {
  display: inline-block;
  color: rgba(146, 150, 154, 0.5);
  font-size: 3em;
  text-shadow: none;
  transition: text-shadow .5s ease, color .5s ease;
}

/* line 114, ../sass/_fonts.scss */
.icon-left:hover, .icon-right:hover {
  text-shadow: 0 1px 3px rgba(110, 121, 130, 0.2);
  color: #DF887A;
  cursor: pointer;
}

/****************************************************************
ICON FONTS
****************************************************************/
/* line 3, ../sass/_general.scss */
body {
  color: #000;
  background-color: #99cccc;
  font: normal 400 16px Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  position: relative;
}

/* line 11, ../sass/_general.scss */
ul {
  list-style: none;
}

/* line 16, ../sass/_general.scss */
.header-bg {
  max-height: 355px;
  padding: 16px 0 117px 0;
}

/* line 21, ../sass/_general.scss */
header {
  background-color: #99cccc;
  background: url("images/confectionary.png");
}

/* line 28, ../sass/_general.scss */
nav {
  display: inline-block;
  float: right;
  position: relative;
  top: 41px;
}

/* line 35, ../sass/_general.scss */
nav ul li:last-child {
  margin-right: 0;
}

/* line 39, ../sass/_general.scss */
nav li {
  display: inline;
  margin-right: 64px;
  color: #fafafa;
}

/* line 45, ../sass/_general.scss */
nav li a {
  -webkit-transition: color .25s ease;
  -moz-transition: color .25s ease;
  -ms-transition: color .25s ease;
  transition: color .25s ease;
}

/* line 49, ../sass/_general.scss */
nav li a:hover {
  color: #f56f59;
  font-weight: 700;
}

/* line 55, ../sass/_general.scss */
nav a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.2em;
}

/* line 61, ../sass/_general.scss */
.nav-logo {
  width: 109px;
  height: 98px;
  background: url("images/logo-small.png") no-repeat center;
  display: inline-block;
}

/****************************************************************
SECTIONS
****************************************************************/
/* line 72, ../sass/_general.scss */
section {
  padding: 64px 0;
}

/****************************************************************
BUTTONS, LINKS, CTAs
****************************************************************/
/* line 80, ../sass/_general.scss */
.cta {
  display: inline-block;
  text-align: center;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  font-variant: small-caps;
  padding: 0 24px;
  background-color: #f56f59;
  color: #fafafa;
  margin: 32px auto 0 auto;
  font-size: 1.3em;
  font-weight: 700;
  border: 2px solid #f56f59;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color .25s ease, border-color .25s ease, color .25s ease;
  -moz-transition: background-color .25s ease, border-color .25s ease, color .25s ease;
  -ms-transition: background-color .25s ease, border-color .25s ease, color .25s ease;
  transition: background-color .25s ease, border-color .25s ease, color .25s ease;
}

/* line 98, ../sass/_general.scss */
.cta:hover {
  background-color: #fafafa;
  border-color: #f56f59;
  color: #f56f59;
}

/* line 104, ../sass/_general.scss */
a.link {
  color: #DF887A;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color .25s ease;
  -moz-transition: color .25s ease;
  -ms-transition: color .25s ease;
  transition: color .25s ease;
}

/* line 111, ../sass/_general.scss */
a.link:hover {
  color: #f56f59;
  text-decoration: underline;
}

/****************************************************************
FOOTER
****************************************************************/
/* line 122, ../sass/_general.scss */
footer {
  padding: 16px 0;
  text-align: center;
  background-color: #6e7982;
}

/* line 128, ../sass/_general.scss */
footer h3 {
  margin-bottom: 16px;
  color: #fafafa;
}

/****************************************************************
REVIEWS
****************************************************************/
/* line 137, ../sass/_general.scss */
article {
  text-align: left;
}

/* line 141, ../sass/_general.scss */
.review {
  display: inline-block;
}

/* line 145, ../sass/_general.scss */
.review-wrapper {
  display: table;
  padding: 0 10%;
}

/* line 150, ../sass/_general.scss */
.review h3 {
  text-align: left;
  margin-top: 16px;
  font-style: italic;
}

/* line 156, ../sass/_general.scss */
.review.text-block {
  max-width: 80%;
  margin: 0 5%;
}

/* line 161, ../sass/_general.scss */
.stars, .date {
  margin-bottom: 16px;
}

/* line 165, ../sass/_general.scss */
.stars {
  display: inline-block;
}

/* line 169, ../sass/_general.scss */
.date {
  display: inline-block;
}

/* line 173, ../sass/_general.scss */
.icon-star-full {
  color: #f8c48b;
  margin-right: 5px;
}
