/*********************************************************
 * NORMALIZE
 *********************************************************/
@import url(http:\/\/fonts.googleapis.com/css?family=Lato:400,700);
@import url(http:\/\/fonts.googleapis.com/css?family=Josefin+Slab:400,600);
/* line 5, ../sass/_normalize2.scss */
html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 13, ../sass/_normalize2.scss */
body, ul, hr, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* Colors */
/* Spacing */
/* line 5, ../sass/_utilities.scss */
.bg-white {
  background-color: #fafafa;
  color: #545454;
}

/* line 10, ../sass/_utilities.scss */
.bg-blue {
  background-color: #99cccc;
}

/* line 14, ../sass/_utilities.scss */
section.bg-pattern {
  background: url("images/confectionary.png");
  background-color: #fafafa;
}

/* line 19, ../sass/_utilities.scss */
.bg-grey {
  background-color: #6e7982;
  color: #fafafa;
}

/* line 24, ../sass/_utilities.scss */
.color-white {
  color: #fafafa;
}

/* line 28, ../sass/_utilities.scss */
.color-dark {
  color: #545454;
}

/* line 32, ../sass/_utilities.scss */
.color-coral {
  color: #f56f59;
}

/* line 36, ../sass/_utilities.scss */
.color-orange {
  color: #f8c48b;
}

/* line 40, ../sass/_utilities.scss */
.color-grey {
  color: #6e7982;
}

/****************************************************************
LAYOUT
****************************************************************/
/* line 48, ../sass/_utilities.scss */
.wrapper {
  margin: 0 auto;
  max-width: 960px;
}

/* line 53, ../sass/_utilities.scss */
.text-block {
  margin: 0 10%;
}

/* line 57, ../sass/_utilities.scss */
hr {
  margin: 16px auto;
}

/* line 62, ../sass/_utilities.scss */
footer hr {
  max-width: 250px;
  border: 0;
  background-image: linear-gradient(to right, rgba(139, 150, 158, 0), rgba(139, 150, 158, 0.75), transparent);
}

/* line 68, ../sass/_utilities.scss */
.container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* line 74, ../sass/_utilities.scss */
.container .third:last-child {
  margin-right: 0;
}

/* line 82, ../sass/_utilities.scss */
.third {
  display: inline-block;
  max-width: 290px;
  margin-right: 16px;
  vertical-align: text-top;
}

/* line 89, ../sass/_utilities.scss */
.circle {
  background-color: #fafafa;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(110, 121, 130, 0.1);
}

/* line 96, ../sass/_utilities.scss */
.third .circle {
  width: 150px;
  height: 150px;
}

/* line 101, ../sass/_utilities.scss */
.arrow {
  display: table-cell;
  vertical-align: middle;
}

/****************************************************************
ALIGNMENT
****************************************************************/
/* line 110, ../sass/_utilities.scss */
.text-center {
  text-align: center;
}

/* Mixins */
/****************************************************************
TYPOGRAPHY
****************************************************************/
/* line 8, ../sass/_fonts.scss */
h1, h2, h3 {
  text-align: center;
}

/* line 12, ../sass/_fonts.scss */
h1, h2 {
  text-transform: uppercase;
}

/* line 16, ../sass/_fonts.scss */
h1 {
  color: #fafafa;
  font-size: 3em;
  margin-top: 100px;
}

/* line 22, ../sass/_fonts.scss */
h2 {
  font-size: 2em;
  margin-bottom: 32px;
  font-family: 'Josefin Slab', Georgia, 'Times New Roman', serif;
}

/* line 28, ../sass/_fonts.scss */
h3.desc-head {
  margin: 16px 0;
}

/* line 33, ../sass/_fonts.scss */
h3.sub {
  margin-bottom: 32px;
}

/* line 37, ../sass/_fonts.scss */
p {
  line-height: 1.4;
}

/* line 41, ../sass/_fonts.scss */
p.copyright {
  font-size: .8em;
  color: #fafafa;
}

/* line 46, ../sass/_fonts.scss */
section p {
  text-align: left;
}

/* line 50, ../sass/_fonts.scss */
.emphasis {
  font-weight: 700;
  color: #f56f59;
}

/****************************************************************
ICON FONTS
****************************************************************/
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?dt5704");
  src: url("fonts/icomoon.eot?#iefixdt5704") format("embedded-opentype"), url("fonts/icomoon.ttf?dt5704") format("truetype"), url("fonts/icomoon.woff?dt5704") format("woff"), url("fonts/icomoon.svg?dt5704#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 70, ../sass/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #99cccc;
  text-shadow: 0 1px 3px rgba(110, 121, 130, 0.2);
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 86, ../sass/_fonts.scss */
.icon-computer:before {
  content: "\e956";
}

/* line 89, ../sass/_fonts.scss */
.icon-bubbles4:before {
  content: "\e970";
}

/* line 92, ../sass/_fonts.scss */
.icon-user:before {
  content: "\e971";
}

/* line 95, ../sass/_fonts.scss */
.icon-users:before {
  content: "\e972";
}

/* line 98, ../sass/_fonts.scss */
.icon-user-tie:before {
  content: "\e976";
}

/* line 101, ../sass/_fonts.scss */
.icon-airplane:before {
  content: "\e9af";
}

/* line 104, ../sass/_fonts.scss */
.icon-star-full:before {
  content: "\e9d9";
}

/* line 107, ../sass/_fonts.scss */
.icon-right:before {
  content: "\ea42";
}

/* line 110, ../sass/_fonts.scss */
.icon-left:before {
  content: "\ea44";
}

/* line 114, ../sass/_fonts.scss */
.circle [class^="icon-"], .circle [class*=" icon-"] {
  line-height: 3em;
  font-size: 3em;
}

/* line 119, ../sass/_fonts.scss */
.icon-left, .icon-right {
  display: inline-block;
  color: rgba(146, 150, 154, 0.5);
  font-size: 3em;
  text-shadow: none;
  transition: text-shadow .5s ease, color .5s ease;
}

/* line 128, ../sass/_fonts.scss */
.icon-left:hover, .icon-right:hover {
  text-shadow: 0 1px 3px rgba(110, 121, 130, 0.2);
  color: #DF887A;
  cursor: pointer;
}

/****************************************************************
ICON FONTS
****************************************************************/
/*
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?vri0ou');
	src:url('fonts/icomoon.eot?#iefixvri0ou') format('embedded-opentype'),
		url('fonts/icomoon.ttf?vri0ou') format('truetype'),
		url('fonts/icomoon.woff?vri0ou') format('woff'),
		url('fonts/icomoon.svg?vri0ou#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: $blue;					// YE added
	text-shadow: 0 1px 3px rgba(110, 121, 130, .2);		// YE added

	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bubbles4:before {
	content: "\e970";
}
.icon-user-tie:before {
	content: "\e976";
}
.icon-airplane:before {
	content: "\e9af";
}
.icon-star-full:before {
	content: "\e9d9";
}
.icon-right:before {
	content: "\ea42";
}
.icon-left:before {
	content: "\ea44";
}

.circle [class^="icon-"], .circle [class*=" icon-"]{
	line-height: 3em;
	font-size: 3em;
}

.icon-left, .icon-right {
	display: inline-block;
	color: rgba(146, 150, 154, 0.5);
	font-size: 3em;
	text-shadow: none;
	transition: text-shadow .5s ease,
							color .5s ease;
}

.icon-left:hover, .icon-right:hover {
	text-shadow: 0 1px 3px rgba(110, 121, 130, .2);		// YE added
	color: $light-coral;
	cursor: pointer;
}

*/
/****************************************************************
NAVIGATION AND HEADER
****************************************************************/
/* line 5, ../sass/_header.scss */
.header-bg {
  max-height: 355px;
  padding-top: 100px;
  background: #44B1B1 url(../../images/confectionary.png) repeat right top;
}

/* line 12, ../sass/_header.scss */
.logo-header {
  height: 133px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px 0;
  z-index: 999;
  -webkit-transition: background-color .3s ease, box-shadow .3s ease, padding .3s ease, height .3s ease;
  -moz-transition: background-color .3s ease, box-shadow .3s ease, padding .3s ease, height .3s ease;
  -ms-transition: background-color .3s ease, box-shadow .3s ease, padding .3s ease, height .3s ease;
  -o-transition: background-color .3s ease, box-shadow .3s ease, padding .3s ease, height .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease, padding .3s ease, height .3s ease;
}

/* line 44, ../sass/_header.scss */
.logo-header.smaller {
  height: 75px;
  background-color: #99cccc;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

/* line 51, ../sass/_header.scss */
header {
  overflow: hidden;
}

/* line 55, ../sass/_header.scss */
header h1 {
  height: 180px;
  position: relative;
  top: 170px;
  opacity: 0;
  -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 67, ../sass/_header.scss */
header h1.appear {
  position: relative;
  top: 0;
  opacity: 1;
}

/* line 73, ../sass/_header.scss */
nav {
  display: inline-block;
  float: right;
  position: relative;
  top: 41px;
  -webkit-transition: top .3s ease;
  -moz-transition: top .3s ease;
  -ms-transition: top .3s ease;
  -o-transition: top .3s ease;
  transition: top .3s ease;
}

/* line 87, ../sass/_header.scss */
nav.smaller {
  top: 25px;
}

/* line 91, ../sass/_header.scss */
nav ul li:last-child {
  margin-right: 0;
}

/* line 95, ../sass/_header.scss */
nav li {
  display: inline;
  margin-right: 64px;
  color: #fafafa;
}

/* line 101, ../sass/_header.scss */
nav li a {
  -webkit-transition: color .25s ease;
  -moz-transition: color .25s ease;
  -ms-transition: color .25s ease;
  transition: color .25s ease;
}

/* line 105, ../sass/_header.scss */
nav li a:hover {
  color: #f56f59;
}

/* line 111, ../sass/_header.scss */
nav a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.2em;
}

/* line 117, ../sass/_header.scss */
.nav-logo {
  display: inline-block;
}

/* line 121, ../sass/_header.scss */
.nav-logo img {
  height: 100px;
  -webkit-transition: height .3s ease;
  -moz-transition: height .3s ease;
  -ms-transition: height .3s ease;
  -o-transition: height .3s ease;
  transition: height .3s ease;
}

/* line 130, ../sass/_header.scss */
.nav-logo img.smaller {
  height: 75px;
}

/****************************************************************
GENERAL/NORMALIZE
****************************************************************/
/* line 5, ../sass/_general.scss */
body {
  color: #545454;
  background-color: #99cccc;
  font: normal 400 16px Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  position: relative;
}

/* line 13, ../sass/_general.scss */
ul {
  list-style: none;
}

/****************************************************************
SECTIONS
****************************************************************/
/* line 21, ../sass/_general.scss */
section {
  padding: 64px 0;
}

/****************************************************************
BUTTONS, LINKS, CTAs
****************************************************************/
/* line 29, ../sass/_general.scss */
.cta, .submit {
  display: inline-block;
  text-align: center;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  font-variant: small-caps;
  padding: 0 24px;
  background-color: #f56f59;
  color: #fafafa;
  margin: 32px auto 0 auto;
  font-size: 1.3em;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(110, 121, 130, 0.7);
  border: 2px solid #f56f59;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color .25s ease, border-color .25s ease, color .25s ease;
  -moz-transition: background-color .25s ease, border-color .25s ease, color .25s ease;
  -ms-transition: background-color .25s ease, border-color .25s ease, color .25s ease;
  transition: background-color .25s ease, border-color .25s ease, color .25s ease;
}

/* line 48, ../sass/_general.scss */
.submit {
  line-height: 44px;
  margin-top: 16px;
  width: auto;
}

/* line 54, ../sass/_general.scss */
.cta:hover, .submit:hover {
  background-color: #fafafa;
  border-color: #f56f59;
  color: #f56f59;
}

/* line 60, ../sass/_general.scss */
a.link {
  color: #DF887A;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color .25s ease;
  -moz-transition: color .25s ease;
  -ms-transition: color .25s ease;
  transition: color .25s ease;
}

/* line 67, ../sass/_general.scss */
a.link:hover {
  color: #f56f59;
  text-decoration: underline;
}

/****************************************************************
FOOTER
****************************************************************/
/* line 78, ../sass/_general.scss */
footer {
  padding: 16px 0;
  text-align: center;
  background-color: #6e7982;
}

/* line 84, ../sass/_general.scss */
footer h3 {
  margin-bottom: 16px;
  color: #fafafa;
}

/****************************************************************
REVIEWS
****************************************************************/
/* line 93, ../sass/_general.scss */
article {
  text-align: left;
}

/* line 97, ../sass/_general.scss */
.review {
  display: none;
  -webkit-transition: display .3s ease;
  -moz-transition: display .3s ease;
  -ms-transition: display .3s ease;
  -o-transition: display .3s ease;
  transition: display .3s ease;
}

/* line 107, ../sass/_general.scss */
.review.active {
  display: inline-block;
}

/* line 111, ../sass/_general.scss */
.review-wrapper {
  display: table;
  padding: 0 10%;
  height: 200px;
}

/* line 117, ../sass/_general.scss */
.review p {
  margin-bottom: 16px;
}

/* line 121, ../sass/_general.scss */
.review a {
  text-align: left;
  font-style: italic;
  color: #f56f59;
}

/* line 127, ../sass/_general.scss */
.review.text-block {
  max-width: 80%;
  margin: 0 5%;
}

/* line 132, ../sass/_general.scss */
.stars, .date {
  margin-bottom: 16px;
}

/* line 136, ../sass/_general.scss */
.stars {
  display: inline-block;
}

/* line 140, ../sass/_general.scss */
.date {
  display: inline-block;
}

/* line 144, ../sass/_general.scss */
.icon-star-full {
  color: #f8c48b;
  margin-right: 5px;
}

/* line 149, ../sass/_general.scss */
.instructor .circle {
  width: 350px;
  height: 350px;
  box-shadow: 0 2px 10px rgba(110, 121, 130, 0.8);
  background: #fafafa url(../../images/instructor.jpg) no-repeat top right;
}

/****************************************************************
INSTRUCTOR
****************************************************************/
/* line 160, ../sass/_general.scss */
.instructor {
  margin: 0 auto;
  text-align: center;
}

/* line 165, ../sass/_general.scss */
.showcase {
  display: inline-block;
  text-align: center;
}

/* line 170, ../sass/_general.scss */
.showcase h3 {
  margin-top: 16px;
  margin-bottom: .2em;
}

/* line 175, ../sass/_general.scss */
.showcase li {
  display: inline;
  font-family: 'Josefin Slab', Georgia, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 18px;
}

/* line 182, ../sass/_general.scss */
.showcase li:after {
  content: ' | ';
  padding: 0 8px;
}

/* line 187, ../sass/_general.scss */
.showcase li:last-child {
  margin-right: none;
}

/* line 191, ../sass/_general.scss */
.showcase li:last-child:after {
  content: none;
  padding: none;
}

/* line 196, ../sass/_general.scss */
.instructor .text-block {
  width: 50%;
  display: inline-block;
  margin-right: 0;
  vertical-align: top;
  margin: 10% 0 0 5%;
}

/****************************************************************
CLASSES PAGE
****************************************************************/
/* line 208, ../sass/_general.scss */
.box {
  width: 400px;
  height: 555px;
  margin-right: 32px;
  background-color: #F0F0F0;
  display: inline-block;
  padding-top: 32px;
}

/* line 217, ../sass/_general.scss */
.box#nudge {
  position: relative;
  top: -22px;
}

/* line 222, ../sass/_general.scss */
#nudge p {
  margin-bottom: 54px;
}

/* line 226, ../sass/_general.scss */
.box:last-child {
  margin-right: 0;
}

/* line 230, ../sass/_general.scss */
.box h3 {
  margin-bottom: 32px;
}

/* line 234, ../sass/_general.scss */
.box .circle {
  width: 125px;
  height: 125px;
  margin-bottom: 32px;
}

/* line 240, ../sass/_general.scss */
.box .circle .icon-user, .box .circle .icon-computer {
  font-size: 3em;
  line-height: 16px;
  line-height: 125px;
}

/* line 246, ../sass/_general.scss */
#combo {
  display: block;
  height: auto;
  margin: 0 auto;
  margin-top: 32px;
  padding-bottom: 32px;
}

/* line 254, ../sass/_general.scss */
#combo .wrap {
  display: block;
  margin: 0 auto;
}

/* line 259, ../sass/_general.scss */
#combo .circle {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-bottom: 32px;
}

/* line 266, ../sass/_general.scss */
#combo .circle .icon-user, #combo .circle .icon-computer {
  line-height: 100px;
  font-size: 2.5em;
}

/* line 271, ../sass/_general.scss */
.plus {
  margin: 0 16px;
  font-size: 2em;
}

/****************************************************************
RATES PAGE
****************************************************************/
/* line 280, ../sass/_general.scss */
.compare {
  width: 520px;
  height: 250px;
  background-color: #F0F0F0;
  margin: 0 auto 32px auto;
  display: table;
  text-align: center;
}

/* line 289, ../sass/_general.scss */
.combine {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0 32px;
  margin: 0 auto;
}

/* line 297, ../sass/_general.scss */
.compare h3 {
  display: inline-block;
  margin-right: 64px;
}

/* line 302, ../sass/_general.scss */
.title {
  display: inline-block;
  margin-right: 64px;
}

/* line 307, ../sass/_general.scss */
.title:last-child {
  margin-right: 0;
}

/* line 311, ../sass/_general.scss */
.title h3 {
  font-family: 'Josefin Slab', Georgia, 'Times New Roman', serif;
  display: block;
  margin-right: 0;
  margin-bottom: 16px;
}

/* line 318, ../sass/_general.scss */
.compare .circle {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 1.5em;
  line-height: 100px;
  display: inline-block;
}

/* line 327, ../sass/_general.scss */
#extra-margin {
  margin-right: 90px;
}

/****************************************************************
TABLE
****************************************************************/
/* line 335, ../sass/_general.scss */
table {
  margin-top: 32px;
  color: #545454;
}

/* line 339, ../sass/_general.scss */
table, td {
  border: 1px #545454 solid;
  border-collapse: collapse;
  border-right: none;
  border-left: none;
  width: 100%;
}

/* line 347, ../sass/_general.scss */
td {
  padding: 1em;
}

/****************************************************************
FORM
****************************************************************/
/* line 355, ../sass/_general.scss */
form {
  margin: 0 auto;
  text-align: center;
}

/* line 360, ../sass/_general.scss */
form .submit {
  margin-left: 180px;
}

/* line 364, ../sass/_general.scss */
.form {
  text-align: left;
  width: 500px;
  margin: 0 auto;
  padding: 32px;
  padding-right: 0;
  background-color: #F0F0F0;
}

/* line 373, ../sass/_general.scss */
.form > div {
  display: block;
  margin: 0 auto 16px auto;
}

/* line 378, ../sass/_general.scss */
label {
  display: inline-block;
  margin-bottom: 5px;
}

/* line 383, ../sass/_general.scss */
input, textarea {
  width: 90%;
  display: block;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  -webkit-transition: box-shadow .1s ease;
  -mox-transition: box-shadow .1s ease;
  -ms-transition: box-shadow .1s ease;
  -o-transition: box-shadow .1s ease;
  transition: box-shadow .1s ease;
}

/* line 398, ../sass/_general.scss */
input:focus, textarea:focus {
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 403, ../sass/_general.scss */
textarea {
  resize: none;
  font-family: Lato, 'Helvetica Nueue', Helvetica, sans-serif;
}

/* line 408, ../sass/_general.scss */
.message {
  display: block;
}

/* line 412, ../sass/_general.scss */
.notice, .required {
  color: #f56f59;
  font-style: italic;
  font-variant: small-caps;
  font-size: 14px;
  margin-bottom: 1em;
}

/* line 420, ../sass/_general.scss */
.required {
  display: inline-block;
  text-align: right;
  float: right;
  padding-right: 35px;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

/* line 434, ../sass/_general.scss */
.required.invalid {
  opacity: 1;
}

/* line 438, ../sass/_general.scss */
.empty {
  color: #6e7982;
  font-style: italic;
  font-variant: small-caps;
}

/* line 444, ../sass/_general.scss */
.missing {
  outline: normal;
  outline-color: #f56f59;
}
